.nav {
  padding: 5px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $main-color;
  color: #fff;
  font-family: $main-font;
  height: 60px;

  &__logo {
    font-size: 40px;
    font-weight: normal;
  }

  &__links {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;

    .nav__link {
      padding: 0 15px;

      a {
        color: #fff;
      }
    }
  }
}

@media (max-width: 410px) {
  .nav {
    &__logo {
      padding: 0 10px;
      font-size: 30px;
      height: 30px;
    }

    &__links {
      font-size: 20px;

      .nav__link {
        padding: 0 10px;
      }
    }
  }
}
